# Python
__pycache__/
*.py[cod]
.venv/
venv/

# PyInstaller
build/
dist/
*.spec

# Скачанные сторонние проекты
zapret/*
tgproxy/*
!zapret/.gitkeep
!tgproxy/.gitkeep

# Локальные настройки
config.local.json

# IDE
.vscode/
.idea/
logs/
*.log
